div(modal="aboutPop", close="closeAbout()", options="opts")
	div.modal-header
		button(type="button", class="close", ng-click="closeOne()")
			i.icon-remove-circle
		h2 Notify 311
	div.modal-body
		h3 Built at the <a href='https://www.hackerleague.org/hackathons/esri-uc-hackathon'>ESRI 2013 User Conference Hackathon</a>
		h5 
			a(href='https://github.com/mejackreed/notify-311')<i class='icon-code-fork'> </i> Fork me on Github
		h4 Team members
		ul
			li <a href='http://www.twitter.com/mejackreed'>Jack Reed</a>
			li <a href='http://twitter.com/GIS_Evari'>Ari Isaak</a>
			li Brad Hellyar
		h4	Technologies used
		div.row-fluid
			img(src='/images/esri.png').span6
			img(src='/images/digitalglobe.jpg').span6
		div.row-fluid
			img(src='/images/angular.png').span6
			img(src='/images/leaflet.png').span6
		div.row-fluid
			img(src='/images/nodejs.png').span6
			img(src='/images/heroku.png').span6

