div(modal="pop1Open", close="closePop1()", options="opts")
	div.modal-header
		button(type="button", class="close", ng-click="closeOne()")
			i.icon-remove-circle
		h3 Report a problem (step 1)
	div.modal-body
		p To report a problem close this window and then click the map at the problem location