div(modal="pop3Open", close="closePop3()", options="opts")
	div.modal-header
		button(type="button", class="close", ng-click="closeOne()")
			i.icon-remove-circle
		h3 Sign up for notifications in your area (step 1)
	div.modal-body
		p To sign up for notifications in your area, close this window and then click the map at the notification location.
		p You will then be prompted to enter your e-mail and the search radius you would like to recieve notifications for.