div(modal="pop2Open", close="closePop2()", options="opts")
	div.modal-header
		button(type="button", class="close", ng-click="close()")
			i.icon-remove-circle
		h3 What's going on? (step 2)
	div.modal-body
		p Provide some details about the reported issue
		label Type of report? <br>
			select(name='type', ng-model='issueType', ng-options='t for t in types')
		label Description <br>
			textarea(rows='3')
		label Name <br>
			input(type='text', ng-model='name', placeholder='Optional')
		label E-mail address <br>
			input(type='text', ng-model='email', placeholder='Optional')
		button.btn(ng-click='addIssue(); closePop2()') Submit