body { 
	padding-top: 40px;
	padding-bottom: 40px; 
}
.sidebar-nav { 
	padding: 9px 0; 
} 
#map{
	height: 1700px;
	width: 1700px;
}

@media (max-width: 979px){
	body { 
	padding-top: 0px;
	padding-bottom: 0px; 
}
	/*padding-top: 0px;*/
	/*padding-left:0px;*/
	/*left:-20px;*/
	#main{
		/*left:-20px;*/
		position: absolute;
		left:0px;
		/*padding-left: -20px;*/
	}
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
}

/* Compatible with Leaflet 0.6 */

.leaflet-touch .leaflet-bar-part-single {
	-webkit-border-radius: 7px 7px 7px 7px;
	        border-radius: 7px 7px 7px 7px;
	border-bottom: none;
}

.leaflet-control-locate a {
	background-image: url(images/locate.png);
	background-position: -2px -2px;
}

.leaflet-touch .leaflet-control-locate a {
	background-image: url(images/locate_touch.png);
}

.leaflet-control-locate.requesting a {
	background-image: url(images/spinner.gif);
	background-position: 50% 50%;
}

.leaflet-control-locate.active a {
	background-position: -32px -2px;
}

.leaflet-control-locate.active.following a {
	background-position: -62px -2px;
}