body { 
	padding-top: 40px;
	padding-bottom: 40px; 
}
.sidebar-nav { 
	padding: 9px 0; 
} 
#map{
	height: 1700px;
	width: 1700px;
}

@media (max-width: 979px){
	body { 
	padding-top: 0px;
	padding-bottom: 0px; 
}
	/*padding-top: 0px;*/
	/*padding-left:0px;*/
	/*left:-20px;*/
	#main{
		/*left:-20px;*/
		position: absolute;
		left:0px;
		/*padding-left: -20px;*/
	}
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
}